# Introduction

# Import data

In [2]:
import pandas as pd

df_binary = pd.read_csv("https://github.com/nchelaru/data-preparation/raw/master/telco_cleaned_yes_no.csv")

In [3]:
df_binary.head()

,Gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,No,Yes,No,1,No,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,No,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,No,No,No,45,No,No,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,No,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# Feature engineering

# Data transformation

## Scaling numeric features

As `Tenure`, `MonthlyCharges` and `TotalCharges` have different ranges of values, I will normalize/standardize each to have mean=0 and standard deviation=1. This prevents the l

While some algorithms, such as random forests, can handle unscaled numeric data, it has been recommended (on pretty good authority) that ["When in doubt, just standardize the data, it shouldnâ€™t hurt."](https://hyp.is/quRLEIydEemOykvgicSkcw/sebastianraschka.com/Articles/2014_about_feature_scaling.html). Moreover, I will be spot checking quite a few machine learning algorithms for their performances on this data set, so I would like to prepare it in a form that is palatable to most.

In [ ]:
from sklearn import preprocessing

std_scale = preprocessing.StandardScaler().fit(df_binary[['Tenure', 'MonthlyCharges', 'TotalCharges']])
df_std = std_scale.transform(df[['Alcohol', 'Malic acid']])

## Categorical variable encoding

In [2]:
from IPython.display import IFrame
IFrame('https://embed.kumu.io/48a866fa7648c88406913e14ca08673a', width=1500, height=850)